body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	color: white;
	background-color: #000000;
	padding-left: 7%;
	padding-right: 7%;
}

p {
	padding-left: 4%;
	padding-right: 4%;
}

header {
	font-weight: bolder;
	font-size: 10pt;
	padding: 0;
}

h1 {
	font-size: 18pt;
	padding: 1%;
}

h1, h2 {
	font-family: 'Poppins', sans-serif;
	color:#197882;
}

h3 /*les noms des app concurrentes dans art.html*/{
	font-family: 'Poppins', sans-serif;
	color:#777777;	
	font-size: 15pt;

}

h4 {
	font-family: 'Poppins', sans-serif;
	color:#197882;
}

h5 /*SafeRUn en gros*/{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 100pt;
	text-align: center;
	position: relative;
	left: 50%;

}

a {
	color: #ffb6c1;
	text-decoration: none;
	font-style: italic;
}

.profil {
	width: 639px;
	height: 639px;
	max-height: 13em;
	max-width: 13em;
	position: relative;


}

div {
	display: inline-block;
	padding: 4em;
}

#retour {
	color: grey;
	font-style: bolder;
}

.doudou {
	padding: 1em;
}

.nom {
	font-size: 15pt;
	font-weight: bold;
}

.liens {
	font-size: 15pt;
	font-weight: bold;
}

.bas {
	display: block;
	padding: 0;
}

.entete {
	/*background-image: url(run.jpg);*/
	padding: 0;

}

#premierjet {
	width:  25%;

}

.partenaires {
	height: 3em;
	padding-right: 9%;
}

.icone {
	position: absolute;
	left: 1100px;
}

.capturefull {
	max-width: 80%;
}

.photo {
	max-width: 20%;
	display: inline-block;
}